<div class="jumbotron">
    <h1>Gerencie Torneios - API</h1>
    <p class="lead">A melhor forma de gerenciar torneios, campeonatos e partidas, sejam amigáveis, nacionais ou mundiais.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Times</h2>
    </div>
    <div class="col-md-6">
        <h2>Jogos</h2>
    </div>
</div>
